<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="basic"
		label="COM___component_name__(constantCase)_CONFIG_BASIC_SETTINGS_LABEL"
	>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com___component_name__(lowerCase)"
			section="component"
		/>
	</fieldset>
</config>